<p>cart works!</p>
<div class="cart-container">
    <div class="cart-panel">
        <div class="cart-item" *ngFor="let p of cart.products">
            <img src="{{p.url}}" alt="">
            <div class="cart-item-details">
                <h3>{{p.name}}</h3>
                <p>${{p.price}}</p>
                <div>
                    <label for="amount">Amount: </label>
                    <input class="number-input" type="number" [(ngModel)]="p.amount" id="amount"
                        (click)="increaseAmount(p)" max="10" checked>
                </div>
            </div>
        </div>
        <h2>${{cart.totalPrice}}</h2>
    </div>
    <div>
        <label for="amount">Full name </label>
        <input type="text" name="name" id="name" placeholder="minimum 3 characters">
        <label for="amount">Address</label>
        <input type="text" name="address" id="address" placeholder="minimum 6 characters">
        <label for="amount">Address</label>
        <input type="text" name="address" id="address" placeholder="minimum 6 characters">
        <p class="secure-text">We'll never share your details with anyone else</p>
    </div>
</div>