<p>cart works!</p>
<div class="cart-container">
    <div class="cart-panel">
        <div class="cart-item" *ngFor="let p of cart.products">
            <img src="{{p.url}}" alt="">
            <div class="cart-item-details">
                <h3>{{p.name}}</h3>
                <p>${{p.price}}</p>
                <div>
                    <label for="amount">Amount: </label>
                    <input class="number-input" type="number" [(ngModel)]="p.amount" id="amount"
                        (click)="increaseAmount(p)" max="10" checked>
                </div>
            </div>
        </div>
        <h2>${{cart.totalPrice}}</h2>
    </div>
    <ng-form class="form">
        <div>
            <label for="name">Full name </label>
            <input class="form-control mb-3" type="text" name="name" id="name" placeholder="minimum 3 characters">
        </div>
        <div>
            <label for="address">Address</label>
            <input class="form-control mb-3" type="text" name="address" id="address" placeholder="minimum 6 characters">
        </div>
        <div>
            <label for="card">Credit card number</label>
            <input class="form-control " type="text" name="card" id="card" placeholder="minimum 6 characters">
            <p class="form-text mb-3">We'll never share your details with anyone else</p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </ng-form>

</div>